[user]
	name = benmandrew
	email = benmandrew@gmail.com
[pull]
	rebase = true
[alias]
	st = status -s --show-stash
	cm = commit -m
	rv = remote -v
	ch = checkout
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s - %Cblue%aN%Creset (%Cgreen%cr%Creset)' --abbrev-commit --date=relative
	d = diff
	sv = status -vv
	bv = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(color:blue)%(authorname)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'
[init]
	defaultBranch = main
[protocol "file"]
	allow = always
[commit]
	gpgsign = false
