{
  "workbench.startupEditor": "none",
  "liveServer.settings.donotShowInfoMsg": true,
  "explorer.confirmDelete": false,
  "explorer.confirmDragAndDrop": false,
  "update.showReleaseNotes": false,
  "editor.minimap.autohide": "mouseover",
  "editor.minimap.enabled": false,
  "markdown.preview.scrollEditorWithPreview": false,
  "markdown.preview.scrollPreviewWithEditor": false,
  "rust-analyzer.inlayHints.closingBraceHints.enable": false,
  "rust-analyzer.inlayHints.parameterHints.enable": false,
  "editor.inlayHints.enabled": "offUnlessPressed",
  "cmake.pinnedCommands": [
    "workbench.action.tasks.configureTaskRunner",
    "workbench.action.tasks.runTask"
  ],
  "chat.commandCenter.enabled": false,
  "C_Cpp.default.cppStandard": "c++23",
  "github.copilot.nextEditSuggestions.enabled": true,
  "docker.extension.dockerEngineAvailabilityPrompt": false,
  "C_Cpp.intelliSenseEngine": "disabled",
  "workbench.editor.empty.hint": "hidden",
  "cmake.showConfigureWithDebuggerNotification": false,
  "editor.codeActionsOnSave": {
    "source.organizeImports": "never",
    "source.fixAll": "never",
  },
  "editor.indentSize": "tabSize",
  "[go]": {
    "editor.autoIndent": "full",
    "editor.formatOnSave": true,
    "editor.insertSpaces": true,
  },
  "[css]": {
    "editor.defaultFormatter": "vscode.css-language-features"
  },
  "cmake.automaticReconfigure": false,
  "cmake.configureOnEdit": false,
  "cmake.configureOnOpen": false,
  "redhat.telemetry.enabled": false,
  "docker.extension.enableComposeLanguageServer": false,
  "ansible.lightspeed.enabled": false,
  "ansible.lightspeed.suggestions.enabled": false,
  "chat.viewSessions.orientation": "stacked",
  "go.toolsManagement.autoUpdate": true,
  "files.associations": {
    "*.tmpl": "jinja-shell"
  },
  "python.analysis.typeCheckingMode": "strict",
  "chat.tools.terminal.autoApprove": {
    "ansible-lint": true,
    "/^source \\.venv/bin/activate && make docs-tailnet$/": {
      "approve": true,
      "matchCommandLine": true
    },
    "cmake": true,
    "ctest": true
  },
  "claudeCode.preferredLocation": "panel",
  "dafny.dotnetExecutablePath": "/usr/local/share/dotnet/dotnet",
  "manim-sideview.focusOutputOnRun": false,
  "manim-sideview.outputToTerminal": true,
  "editor.fontFamily": "Menlo, Monaco, 'Courier New', monospace, 'CodeNewRoman Nerd Font Mono'",
  "terminal.integrated.fontFamily": "'CodeNewRoman Nerd Font Mono', monospace"
}
