[user]
    name = benmandrew
    email = benmandrew@gmail.com
    signingkey = {{ .chezmoi.homeDir }}/.ssh/id_benmandrew
[pull]
    rebase = true
[alias]
    st = status -s --show-stash
    cm = commit -m
    rv = remote -v
    ch = checkout
    ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s - %Cblue%aN%Creset (%Cgreen%cr%Creset)' --abbrev-commit --date=relative
    d = diff
    sv = status -vv
    bv = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(color:blue)%(authorname)%(color:reset) (%(color:green)%(committerdate:relative)%(color:reset))'
    dl = diff HEAD~1 HEAD
    wt = "!git worktree list --porcelain | awk -v y=$(tput setaf 3) -v r=$(tput setaf 1) -v b=$(tput setaf 4) -v x=$(tput sgr0) '/^worktree /{w=$2} /^HEAD /{s=substr($2,1,8)} /^branch /{n=$2; sub(/refs.heads./,\"\",n)} /^detached/{n=\"(detached)\"} /^$/{printf \"%s%-45s%s %s%s%s %s%s%s\\n\", y,w,x, r,s,x, b,n,x}'"
[init]
    defaultBranch = main
[protocol "file"]
    allow = always
[commit]
    gpgsign = true
    template = {{ .chezmoi.homeDir }}/.config/git/.gitmessage
[core]
    excludesfile = {{ .chezmoi.homeDir }}/.config/git/.gitignore_global
    editor = nvim
{{ if eq .chezmoi.os "darwin" }}
    # --paging=never stops delta spawning its own pager, which would nest
    # a second pager inside moor instead of streaming straight into it
    pager = delta --paging=never | moor
{{ else if eq .chezmoi.os "linux" }}
    pager = delta --paging=never | moor --wrap --tab-size=4
{{ end }}
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    line-numbers = true
[tag]
    gpgsign = true
[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = {{ .chezmoi.homeDir }}/.config/git/allowed-signers
[advice]
    addIgnoredFile = false
