Host emel
	HostName emel
	Port 2222
	User dev

Host github.com
	HostName github.com
	User git

{{ if stat (joinPath .chezmoi.homeDir ".ssh/id_avlab") -}}
Host av2
	HostName av2.cs.man.ac.uk
	IdentityFile ~/.ssh/id_avlab
	User benandrew

Host av3
	HostName av3.cs.man.ac.uk
	IdentityFile ~/.ssh/id_avlab
	User benandrew

{{ end -}}
Host *
	IdentityFile ~/.ssh/id_benmandrew
	IdentitiesOnly yes
	AddKeysToAgent yes
{{ if eq .chezmoi.os "darwin" -}}
	UseKeychain yes
{{ end -}}
	ServerAliveInterval 15
	ServerAliveCountMax 3
	ControlMaster auto
	ControlPath ~/.ssh/sockets/%C
	ControlPersist 600
